.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  z-index: -1;
}

.layer1 {
  background-image: url('../src/components/images/layer.svg');
  position: fixed;
  top: 0;
}
